@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

*{
    padding:0;
    margin:0;
    font-family:'Montserrat',sans-serif;
    -ms-overflow-style: none;
    
}
html{
    background:#FFFFFF;
    position:fixed;
    width:100%;
    height:100%;
    overflow:hidden;
    user-select:none;
    
}

::-webkit-scrollbar{
    width:0rem;
}
/* ::-webkit-scrollbar-track{
    background:none;
    border-radius:1.25rem;
} */


input{
    user-select: auto;
    border-radius: 0;
}
input:focus{
    outline: none;
}

@media(max-width:1400px){
    html{
        background:#5AD0D0;
    }
}


@media(min-width:600px){
    html{
        font-size: 18px;
    }
}
/* 
@media(max-width:400px){
    html{
        background:#5AD0D0;
        font-size: 12px;
    }
} */

@media(max-width:350px){
    html{
        font-size: 12px;
    }
}